<header id="header">
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-light  ">
                    <a class="navbar-brand" href="#"> <span class="navbar-text">Brand Logo</span></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="h-bar">&nbsp;</span>
                        <span class="h-bar">&nbsp;</span>
                        <span class="h-bar">&nbsp;</span>
                    </button>
                    <div class="collapse navbar-collapse">
                        <div class="ml-auto">
                            {% include "template/partials/_nav.html" %}
                        </div>
                    </div>
                </nav>
            </div>
        </header>