<!-- load template -->
{% extends "template/layout.html" %}
<!-- load template ends -->
<!-- Page title -->
{% block title %}homepage {% endblock %}
<!-- Page title Ends -->
<!-- Page css -->
<!-- Page css -->
{% block css %}
  {% endblock %}
<!-- Page css Ends -->
<!-- Page css Ends -->
<!-- main content -->
{% block content %}
 
 
{% endblock %}
<!-- main content ends-->
<!-- scripts for current page -->
{% block scripts %}
<h3>this is footer add your scripts tag here</h3>
 
{% endblock %}
<!-- scripts for current page ends -->